* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: url('./../assets/bg1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}


.container {
    width: 100%;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, .3);
    height: 99px;
    border-bottom: 1px #3b3435 solid;
    padding: 0 10%;
}
  
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarLink {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    margin-right: 40px;
}

.navbarLink:hover, .activeLink {
    color: #999999;
    border-bottom: 1px #626063 solid;
    margin-bottom: 10px;
}

.top-nav {
    display: none;
}

@media (max-width: 1440px) {
    body {
        background: url('./../assets/bg.jpg') no-repeat center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
    }
    .header {
        padding: 0 15%;
    }
    .headerContainer {
        display: none;
    }


    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #FFF;
        height: 99px;
      }
      
      .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      .menu > li {
        margin: 0 1rem;
        overflow: hidden;
      }
      
      .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #menu-toggle {
        display: none;
      }
      
      .menu-button,
      .menu-button::before,
      .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
      }
      
      .menu-button::before {
        content: '';
        margin-top: -8px;
      }
      
      .menu-button::after {
        content: '';
        margin-top: 8px;
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }
      
      @media (max-width: 1440px) {
        .menu-button-container {
          display: flex;
        }
        .menu {
          position: absolute;
          top: 0;
          margin-top: 99px;
          left: 0;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        }
        #menu-toggle ~ .menu li {
          height: 0;
          margin: 0;
          padding: 0;
          border: 0;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        #menu-toggle:checked ~ .menu li {
          border: 1px solid #333;
          height: 2.5em;
          padding: 0.5em;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .menu > li {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0.5em 0;
          width: 100%;
          color: white;
          background-color: #222;
        }
        .menu > li:not(:last-child) {
          border-bottom: 1px solid #444;
        }
      }
}

/* !HEADER */

/* CONTENT */

.content {
    display: flex;
    justify-content: center;
    color: white;
    padding: 0 10%;
}

.contentContainer {
    display: flex;
    justify-content: space-between;
}

.title {
    padding-top: 120px;
}

.titleText {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 58px;
    background-color: #FFF;
    background-image: linear-gradient(270deg, #ff5825, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitleText {
    font-size: 25px;
    font-weight: 300;
    background-color: #FFF;
    background-image: linear-gradient(270deg, #ff5825, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 90px;
}

.buttonBg {
    padding-top: 120px;
    padding-left: 50px;
}


.titleButton {
    cursor: pointer;
    color: #fff;
    background-color:rgba(0, 0, 0, .3);
    padding: 15px 15px;
    border: 3px solid;
    border-image: linear-gradient(to right, rgb(64, 130, 206), rgb(3, 51, 139)) 3;
    transition: transform .4s ease-in-out, border-image 1s ease-in-out;
    font-size: 16px;
    font-weight: 100;
}

.titleButton:hover {
    transform: translateY(-2px);
    border: 3px solid;
    border-image: linear-gradient(to left, rgb(64, 130, 206), rgb(3, 51, 139)) 3;
}

/* h=160 w=185 */
.stats {
    display: grid;
    grid-template-columns: repeat(2, 185px);
    grid-template-rows: repeat(2, 160px);
    grid-gap: 10px;
    padding-top: 65px;
}

.statsItem {
    display: grid;
    justify-items: center;
    align-items: center;
    color:rgba(255, 255, 255, 0.8);
}

.statsItem:hover {
    color: #fff;
}


.topItem {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.034), rgba(255, 255, 255, 0.034));
    transition: background-image 1s ease-in-out;
}

.topItem:hover {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.356), rgba(255, 255, 255, 0.034));
    cursor: pointer;
}

.bottomItem {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.034), rgba(255, 255, 255, 0.034));
}

.bottomItem:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.356), rgba(255, 255, 255, 0.034));
    cursor: pointer;
}

.itemTitle {
    font-size: 16px;
}

.itemNumber {
    font-size: 60px;
    font-weight: 700;
}

.itemSubtitle {
    font-size: 18px;
}

/* !CONTENT */

@media (max-width: 1440px) {
    .contentContainer {
        display: grid;
        justify-content: center;
    }
    .buttonBg {
        padding: 0;
    }

    .stats {
        grid-template-columns: repeat(1, 185px);
        grid-template-rows: repeat(4, 160px);
        justify-content: center;
    }
}


@media (max-width: 550px) {

    .titleText {
        font-size: 40px;
    }
    .subtitleText {
        font-size: 15px;
    }

    .header {
        padding-left: 0;
        padding-right: 5%;
    }
}

@media (max-width: 400px) {
    .logoImg {
        width: 250px;
        height: 99px;
    }

    .titleText {
        font-size: 30px;
    }
    .subtitleText {
        font-size: 15px;
    }
}